useDynLib(Rniftilib)
export(nifti.image.new, nifti.image.alloc.data, nifti.image.unload, nifti.image.free)
export(nifti.image.copy.info, nifti.set.filenames)
export(nifti.image.read, nifti.image.write)
export(is.nifti, nifti.image.setdatatype)
export(nifti.read.subregion.image, nifti.interpolate3d)
export(plot.nifti, print.nifti)
export(nifti.compiled.with.zlib, nifti.disp.lib.version)
export(nifti.units.string, nifti.datatype.string)
export("$.nifti","$<-.nifti","[.nifti","[<-.nifti","dim.nifti","dim<-.nifti")
